.comparingTargetsWrapper {
    padding: 14px 10px;

    display: flex;
    flex-direction: column;
    gap: 10px;
}

.comparingTitle {
    font-size: 26px;
    font-weight: 1000;
    line-height: 1.25;

    color: var(--orange-dark);
}

.comparingItems {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.comparingItem {
    display: flex;
    gap: 2px;
}

.comparingItemLeft {
    padding: 0 10px 0 6px;

    display: flex;
    align-items: center;
    justify-content: center;
}

.comparingItemLeft > span {
    font-size: 18px;
    font-weight: 1000;
    line-height: 1.25;
}

.comparingItemRight {
    display: flex;
    flex-direction: column;
    gap: 2px;
}

.comparingItemRight > span:nth-child(1) {
    font-size: 18px;
    font-weight: 1000;
    line-height: 1.25;
}

.comparingItemRight > span:nth-child(2) {
    font-size: 16px;
    font-weight: 500;
    line-height: 1.25;
}