# BE
/be/**/*.pyc
/be/db.sqlite3

# FE
/fe/node_modules/**
/fe/.next/**
/fe/dist/**
/fe/next-env.d.ts

# Crawler
/crawler/**/*.pyc
/crawler/venv/
/crawler/data/
/crawler/for-research/

# Result data
result-data.csv

# DB Migration
/db.sqlite3
