.productCardWraper {
    display: flex;
    flex-direction: column;
}

.upper {
    height: 100px;

    display: flex;
    gap: 4px;
}

.left {
    display: flex;
    flex-direction: column;
    gap: 1px;
    flex: 2 2 0px;
}

.leftProductName {
    color: #1c130d;
    font-size: 1rem;
    font-weight: bold;
    line-height: 1.25;

}

.leftBriefInfo {
    color: #9c6a49;
    font-size: 0.875rem;
    font-weight: normal;
    line-height: 1.5;
}

.right {
    width: 100%;
    background-color: gray;
    border-radius: 1rem;
    flex: 1;
}

.nutritionTable {
    width: 100%;
}