.productCardWraper {
    height: 100px;
    padding: 0 8px;

    display: flex;
    gap: 4px;
}

.left {
    display: flex;
    flex-direction: column;
    gap: 1px;
    flex: 2
}

.productName {
    color: var(--black);
    
    font-size: 18px;
    font-weight: bold;
    line-height: 1.25;

}

.emptyImage {
    width: 100%;
    background-color: gray;
    border-radius: 1rem;
    flex: 1;
}