.productCardWraper {
    padding: 8px;
    border-top: 1px solid var(--orange-dark);
    border-bottom: 1px solid var(--orange-dark);

    display: flex;
    gap: 4px;
}

.left {
    display: flex;
    flex-direction: column;
    gap: 1px;
    flex: 2
}

.productName {
    color: var(--black);
    
    font-size: 18px;
    font-weight: 1000;
    line-height: 1.25;

}

.emptyImage {
    width: 100%;
    background-color: gray;
    border-radius: 1rem;
    flex: 1;
}