.layoutHeaderWrapper {
    height: 50px;
    padding: 0 5px;

    display: flex;
    align-items: center;

    background-color: var(--orange-dark);
}

.layoutHeaderWrapper button {
    padding: 5px;

    background-color: var(--orange-dark);
    color: var(--white);

    border: none;
}